.reveal p {
    text-align: left;
}

.reveal p_cent {
    text-align: center;
}

.c_yellow {color:yellow;}
.c_green {color:#17ff2e;}
.c_blue {color: #1b91ff;}
.c_red {color:red;}
.c_cyan {color:cyan;}


#wrap { position:absolute; left:0; width:100%; top:0; height:700px; }
#frame { display: block; width:100%; height:100%; }



#box {
    margin-left:100px;
    margin-right: 100px;
    border-style:solid; 
    border-width:2px; 
    padding-top:20px; 
    padding-bottom:20px;
    color:blue;
}