.reveal p {
    text-align: left;
}


.reveal p_cent {
    text-align: center;
}

.reveal .smaller {
    font-size:70%;
}

.c_yellow {color:yellow;}
.c_green {color:#17ff2e;}
.c_blue {color: #1b91ff;}
.c_red {color:red;}
.c_cyan {color:cyan;}

#spaced_list li {
    margin: 0 0 20px 0;
}


.reveal .boxthis {
    margin-left: 100px;
    margin-right: 100px;
    border-style:solid; 
    border-width:2px; 
    padding:10px; 
    color:blue;
}


.reveal table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}