.reveal p {
    text-align: left;
}

.reveal p_cent {
    text-align: center;
}

.c_yellow {color:yellow;}
.c_green {color:#17ff2e;}
.c_blue {color: #1b91ff;}
.c_red {color:red;}
.c_cyan {color:cyan;}


#outsidebox {
    padding-left:100px;
    padding-right: 100px;
}

#boxthisbro {
    border-style:solid; 
    border-width:2px; 
    padding-top:20px; 
    padding-bottom:20px;
    color:blue;
}